<nav class="navbar navbar-light" style="background-color: #000;">
      <a class="navbar-brand" href="/" style="color:white">Unsplashed</a>
      <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
            <div class="input-group">
                  <input class="form-control mr-sm-2" type="search" name="category" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </div>
      </form>
</nav>